asn1crypto==0.24.0
backports.functools-lru-cache==1.5
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.3.1
cycler==0.10.0
enum34==1.1.6
Flask==1.0.2
Flask-SocketIO==3.0.2
idna==2.7
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.15.0
opencv-python==3.4.7.28
Pillow==5.2.0
pycparser==2.19
pyparsing==2.2.0
pytesseract==0.2.4
python-dateutil==2.7.3
python-engineio==2.3.2
python-socketio==2.0.0
pytz==2018.5
pywin32==223
requests==2.20.0
six==1.11.0
urllib3==1.24
Werkzeug==0.14.1
wordsegment==1.2.0
